
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.circlediv{
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    background: black;
    border-radius: 50%;
    pointer-events: none;
    z-index: 99999;
    
    transition: cubic-bezier(0.19, 1, 0.22, 1).5s;
}
html, body {
  height: 100%;
  width: 100%;
}
main{
    height: 100%;
    width: 100%;
    position: relative;
}
 .loginsection{
    height: 100%;
    width: 100%;
    display: flex;   
   
 }
 .loginpart1{
    background-color: #FFEFB5;
    border-right: 2px solid black;
    height: 100%;
    display: flex;
    justify-content: center;
     
flex-direction: column;
    width: 50%;

 }
 .loginpart2{
    background-color: yellow;
    height: 100%;
    width: 90%;
    overflow: hidden;
 }
 .loginpart2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    object-position: center;
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
 }
 .loginpart2:hover img{
    scale: 1.1;
 }
 /* login section right and mousemover section done */

 .loginpart1 h3{
 font-family: "Elms Sans", sans-serif;
 font-size: 1.9vw;
 text-align: center;
 margin-bottom: 1.5vw;
 line-height: 1.2;
 }
 .inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
 }
 .inputs h4{
    font-size: 1vw;
 font-family: "Elms Sans", sans-serif;

 }
 .inputs input{
    padding: 0 .5vw;
    border: 1px solid black;
    height: 40px;
    width: 18vw;
     border-radius: 6px;
     font-size: 20px;
 font-family: "Elms Sans", sans-serif;
 cursor: pointer; 
     outline: none;
 }
 .inputparentdiv{
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 20px;
 }
 .loginpart1 button{ 
    padding: .5vw 6vw;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    background: #f6a7a7;
    border: 3px solid #000;
    border-radius: 8px;
    cursor: pointer; 
    box-shadow: 5px 5px 0 #000;
 
 margin-top: .7vw;
 transition: cubic-bezier(0.19, 1, 0.22, 1).5s;
 }


 .loginpart1 button:hover{
   box-shadow: -5px -5px 0 #000;
 }
 .loginpart1 button:active{
    scale: .9;
 }
 .loginpart1 h6{
    font-size: .8rem ;
 font-family: "Elms Sans", sans-serif;

 }
 .loginpart1 h6 span{
    text-decoration: underline;
    cursor: pointer;
   
 }
 

 /* login page done */

 /* Mobile */
@media (max-width: 480px) {
 .loginsection{
    height: 100%;
    width: 100%;
    display: flex;   
    
 }
 .loginpart1{
    background-color: #FFEFB5;
    border-right: 2px solid black;
    height: 100%;
    display: flex;
    justify-content: center;
     
flex-direction: column;
    width: 100%;

 }
 .loginpart2{
    background-color: yellow;
    height: 100%;
    width: 90%;
    overflow: hidden;
    display: none;
 }
 .loginpart2 img{
  display: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
 }
 .loginpart2:hover img{
    scale: 1.1;

 }
 /* login section right and mousemover section done */

 .loginpart1 h3{
 font-family: "Elms Sans", sans-serif;
 font-size: 30px;
 text-align: center;
 
 line-height: 1.2;
 }
 .inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
 }
 .inputs h4{
 font-family: "Elms Sans", sans-serif;
 font-size: 15px;

 }
 .inputs input{
    padding: 0 5px;
    border: 1px solid black;
    height: 30px;
     width: 170px;
     border-radius: 6px;
     font-size: 10px;
 font-family: "Elms Sans", sans-serif;
 cursor: pointer;

     outline: none;
 }
 .inputparentdiv{
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 16px;
    margin-top: 20px;
 }
 .loginpart1 button{
  
    padding: 8px 60px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    background: #f6a7a7;
    border: 3px solid #000;
    border-radius: 8px;
    cursor: pointer;

    /* 3D Look */
    box-shadow: 5px 5px 0 #000;
 
 margin-top: .7vw;
 transition: cubic-bezier(0.19, 1, 0.22, 1).5s;
 }


 .loginpart1 button:hover{
   box-shadow: -5px -5px 0 #000;
 }
 .loginpart1 button:active{
    scale: .9;
 }
 .loginpart1 h6{
    font-size: .8rem ;
 font-family: "Elms Sans", sans-serif;

 }
 .loginpart1 h6 span{
    text-decoration: underline;
    cursor: pointer;
 }
 .circlediv{
    height: 10px;
    width: 10px;
    display: none;
    border: 1px solid white;
    position: absolute;
    background-color: #000000;
   transition: cubic-bezier(0.19, 1, 0.22, 1).7s;
    border-radius: 50px;
    pointer-events: none;
    z-index: 32423;
}

}

/* Large Mobile */
@media (max-width: 576px) {

}

/* Tablet */
@media (max-width: 768px) {

}

/* Laptop */
@media (max-width: 992px) {

}

/* Desktop */
@media (max-width: 1200px) {

}

 
.herosection{
  min-height: 100vh;
   width: 100%;
 
   background-color: #FFEFB5;
   display: none;
   transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
   
   
}
.heronav{
   padding: 0 2%;
   height: 15vh;
   width: 100%;
  border-bottom: 2px solid rgb(0, 0, 0);
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
.navpart1 h1{
 font-family: "Metamorphous", serif;
 font-weight: 500;
  font-size: 2.5vw;

}
.navpart2{
 
   gap : 40px ;
   display: flex;
   justify-content: center;
   align-items: center;
}
.navpart2 button{
    padding: .6vw 1.7vw;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    background: #44d7ce;
    border: 3px solid #000;
    border-radius: 8px;
    cursor: pointer;
 font-family: "Elms Sans", sans-serif;
  
    /* 3D Look */
    box-shadow: 5px 5px 0 #000;
 
 margin-top: .7vw;
 transition: cubic-bezier(0.19, 1, 0.22, 1).5s;
}
.navpart2 .white{
   background-color: rgb(238, 94, 94);
}
.navpart2 button:hover{
   box-shadow: -5px -5px 0 #000 !important;
 }
 .navpart2 button:active{
    scale: .9;
 }
 .navpart2 button.dark-themed:hover {
   box-shadow: -5px -5px 0 rgb(206, 194, 194) !important; /* !important lagaya */
}
 .bordersection{
   height: 8vh;
   width: 100%;
   border-bottom:2px solid black ;
   display: flex;
   padding-left: 5vw;
   gap: 20px;
 }
 .navpart2 i {
   font-size: 1.6vw;
   margin-top: 1vw;
   cursor: pointer; 
   transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
 }
 .borderitem1{
   height: 100%;
   width: 5%;
   border-right: 2px solid black;
   border-left: 2px solid black;
  background-color: #f6a7a7;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: cubic-bezier(0.19, 1, 0.22, 1).5s;
 }
 .borderitem1 h3{
   font-size: 1vw;
 font-family: "Elms Sans", sans-serif;

 }
 .borderitem2{
   padding: 0 1vw;
   height: 100%;
   width:fit-content;
   border-right: 2px solid black;
   border-left: 2px solid black;
   cursor: pointer;
   transition: cubic-bezier(0.19, 1, 0.22, 1).5s;

   display: flex;
   justify-content: center;
   align-items: center;
 }
 .borderitem2 h3{
   font-size: 1vw;
 font-family: "Elms Sans", sans-serif;

 }
 .addtasksection{
   display: none;
   
   height: 55%;
   width: 36%;
   position: fixed;
   background-color:  #FFEFB5;
   border: 2px solid black;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
   z-index: 44254524;
   padding: 3%;
 }
 .addtasksection h1{
   text-align: center;
 font-family: "Elms Sans", sans-serif;

 }
 .closediv{
   height: 40px;
   width: 40px;
   border-radius: 50px;
   background-color: rgb(2, 2, 2);
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: -3%;
   right: -2%;
   cursor: pointer;
   border: 2px solid white;
   
 }
 .closediv i{
   font-size: 27px;
   color: white;
 }
 .addtasksection h3{
 font-family: "Elms Sans", sans-serif; 
   font-weight: 400;
   font-size: 1vw;
   color: black;
 }
 .taskinputs{
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-top: 2vw;
 }
 .taskinputs input{
    padding: 0 .5vw;
    border: 1px solid black;
    height: 55px;
    width: 25vw;
     border-radius: 6px;
     font-size: 25px;
 font-family: "Elms Sans", sans-serif;
 cursor: pointer; 
     outline: none;
    
 }
 .dateselection{
   display: flex;
 }
 .tasksectionbutton{
   display: flex;
   margin-top: 3vw;
   justify-content: space-between;
   padding: 0 1vw;
 }
 .tasksectionbutton button{
   padding: .8vw  4vw;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    background: #44D7CE;
    border: 3px solid #000;
    border-radius: 8px;
    cursor: pointer;

    /* 3D Look */
    box-shadow: 5px 5px 0 #000;
 
 margin-top: .7vw;
 transition: cubic-bezier(0.19, 1, 0.22, 1).5s;
 } 
 .tasksectionbutton .redbtn{
   background-color:rgb(238, 94, 94) ;
 }
 .tasksectionbutton button:active{
    scale: .9;
 }
.tasksectionbutton button:hover{
   box-shadow: -5px -5px 0 #000;
 }
 .overlistsection{
   min-height: 77%;
 
   width: 100%;
   padding: 2% 5%;
 }
 .listsection{
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: 30px;
   width: 100%; 
    align-items: center;
    position: relative;

 }
 .list{ 
   width: 100%; 
   border: 2px solid grey;
   padding: 1%;
   border-radius:16px;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .listright h1{
    font-family: "Elms Sans", sans-serif;

    font-size: 1.7vw;
 }
 .listright h4{
   width: 50%;
    font-family: "Elms Sans", sans-serif;
    margin-top: 1vw;
 }
 .listleft{
   display: flex;
   gap: 20px;
 }
 .listleft i {
   font-size: 20px;
   
   padding: 10px;
   border-radius: 10px;
 }
 .ri-close-large-line{
      background-color: rgb(238, 94, 94);
      cursor: pointer;
       box-shadow: 3px 3px 0 #000;
 }
 .ri-check-line{
      background-color:  #44D7CE;
      cursor: pointer;
      
  
       box-shadow: 3px 3px 0 #000;
 }
 .ri-pencil-line{
   background-color: #f6a7a7;
    box-shadow: 3px 3px 0 #000;
      cursor: pointer;

 }

 .ri-close-large-line:active{
   scale: .9;
 }
 .ri-pencil-line:active{
   scale: .9;
 }
 .ri-check-line:active{
    scale: .9;
    
 }
 #category{
    width: 80%;
    height: 45px;
    margin-top: 15px;
    padding: 0 15px;
    border: 2px solid #000;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Elms Sans", sans-serif;
    
}

#category:focus{
    border-color: #4f46e5;
    box-shadow: 0 0 8px rgba(79,70,229,0.3);
}

#category option{
    font-size: 16px;
}
#cat{
   font-size: 1vw;
}
.listimgcontainer{
  position: relative;
     height: 68vh;
     width: 100%;
     
    
 
   
}
.listimgcontainer img{
   height: 25vh;
   position: absolute;
   top: 50%;
   left: 52%;
   transform: translate(-50% , -50%);
}